<%= render"shared/header" %>
<div class="main-title">公園情報投稿フォーム</div>
<%= form_with model: @map, id: 'new_message', local: true do |f| %>
 
    <div class="info">
    <%= f.label "公     園    名" %>
    <%= f.text_field :name, class:"name-box"  %><br>
    <%= f.label "住       所" %>
    <%= f.text_field :address, class:"address-box" %><br>
    <%= f.label "メッセージ" %><br>
    <%= f.text_area :message, class:"message-box"%><br>
    <%= f.label "写真を投稿する" %>
    <%= f.file_field :images, name: 'map[images][]', class: 'image-submit' %><br>
    </div>

    <%= f.submit "送信"%>


<% end %>
<div id="image-list">
<% @map.images.each do |image| %>
  <%= image_tag image, class: 'images' %>
<% end %>
</div>
<%= render"shared/footer" %>