<%= render"shared/header" %>
<h3>場所投稿フォーム</h3>
<%= form_with model: @map, id: 'new_message', local: true do |f| %>

    <p>
    <%= f.label :name %>
    <%= f.text_field :name, size: "50x1" %>
    <%= f.label :address %>
    <%= f.text_field :address, size: "50x1" %>
    <%= f.label :message %>
    <%= f.text_field :message, size: "50x1" %>
    <%= f.label :message %>
    <%= f.file_field :image, class: 'hidden' %>
    </p>

    <%= f.submit "送信"%>

          <div id="image-list"></div>
<% end %>
<%= render"shared/footer" %>