<%= render "shared/header" %>

<div class="park-detail">
  <div class="detail-main">
    <h2 class="name">
      <%= @map.name %>
    </h2>
      <h3>住     所 : <%= @map.address %></h3>
      <h3>メッセージ : <%= @map.message %></h3>
   <% if user_signed_in? && @map.user_id == current_user.id %>
      <%= link_to "削除する", map_path(@map.id), method: :delete %>
   <% end %>
  <div class="messages">
    <% @map.images.each do |image| %>
      <%= image_tag image, class:'images' %>
    <% end %>
  </div>
  </div>
  <div class="container">
    <% if user_signed_in? %>
        <%= form_with(model: [@map, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "送信" %>
        <% end %>
    <% else %>
      <p><%= link_to "ログインしてコメントを投稿する", new_user_session_path, method: :get %></p>
    <% end %>
 
  </div>

</div>

<div class="comment-index">
  <h2>コメント一覧</h2>
  <div class="comments">
  <% @comments.each do|comment|%>
  <p><span><%= comment.text %></span>  投稿者：<%= comment.user.nickname %></p> 
  <% end %>
  </div>
</div>
<%= render "shared/footer" %>