<%= render "shared/header" %>

<div class="park-detail">
  <div class="detail-main">
    <h2 class="name">
      <%= @map.name %>
    </h2>

    <p>名     前 : <%= @map.name %></p>
    <p>住     所 : <%= @map.address %></p>
    <p>メッセージ : <%= @map.message %></p>

  <div class="messages">
    <% @map.images.each do |image| %>
      <%= image_tag image, class:'images' %>
    <% end %>
  </div>
  </div>
  <div class="container">
    <% if user_signed_in? %>
        <%= form_with(model: [@map, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "送信" %>
        <% end %>
    <% else %>
      <p><%= link_to "ログインしてコメントを投稿する", new_user_session_path, method: :get %></p>
    <% end %>
  </div>

</div>

<div class="comment-index">
  <h3>コメント一覧</h3>
  <% @comments.each do|comment|%>
  <%= comment.text %> / <%= comment.user.nickname %>
  <% end %>
</div>
<%= render "shared/footer" %>