    <header class='header'>
      <div class='header-logo'>
        <%= link_to image_tag("icokka_logo.png", class:"icokka-icon"), "/" %>
      </div>
      
      <div class='main-menu'>
        <ul class='lists-left'>
          <li><%= link_to '公園情報を投稿する', new_map_path, class: "menu-category" %></li>
        </ul>
       <ul class='lists-right'>
          <% if user_signed_in? %>
            <li><%= link_to "ようこそ、" + current_user.nickname + "さん", edit_user_registration_path, class:'user-nickname' %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'logout' %></li>
          <% else %>
            <li><%= link_to 'ユーザー登録', new_user_registration_path, class:'sign-up' %></li>
            <li><%= link_to 'ログイン', new_user_session_path, class:'login' %></li> 
          <% end %>
         </ul> 
      </div>
    </header>
  
    </header>